<nav class="white" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"><span class="red-text">J</span><span class="black-text">Spectrum</span></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{{site.uri.public}}/index" class="black-text">Home</a></li>
            <li><a href="{{site.uri.public}}/campaign-records" class="black-text">Campaign Records</a></li>
            <li><a href="{{site.uri.public}}/health-check" class="black-text">Health Check</a></li>
            <li><a href="{{site.uri.public}}/log-records" class="black-text">Log Records</a></li>
	    <li><a href="{{site.uri.public}}/settings" class="black-text">User Settings</a></li>
	    <li><a href="{{site.uri.public}}/logoutAdminPanel" class="black-text">Logout</a></li>
          </ul>
          <ul id="nav-mobile" class="side-nav">
            <li><a href="index.cgi">Home</a></li>
          </ul>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
      </nav>